@layer components {
  /* Buttons */
  .button {
    @apply bg-surface cursor-default select-none;
  }

  .button:focus-visible {
    outline: none;
  }

  .button:focus-visible > * {
    outline: 1px dotted theme('textColor.default');
  }

  .button:disabled {
    pointer-events: none;
  }

  .button:disabled img {
    @apply grayscale;
  }

  .button-normal {
    @apply bevel active:bevel-inset p-0.5;
  }

  .button-light {
    @apply hover:bevel-light active:bevel-light-inset p-0.5;
  }

  /* Menus */
  .menu-content {
    @apply bg-surface bevel p-1 z-2000;
  }

  .menu-item {
    @apply select-none p-0.5 grid gap-1 outline-none;

    grid-template-columns: 1rem 1fr;
    min-width: 8rem;
  }

  .menu-item[data-highlighted] {
    @apply bg-selection text-selection;
  }
}
