@layer components {
  /* Buttons */
  .button {
    @apply bg-surface cursor-default select-none;
  }

  .button:focus-visible {
    outline: none;
  }

  .button:focus-visible > * {
    outline: 1px dotted theme('textColor.default');
  }

  .button:disabled {
    pointer-events: none;
  }

  .button:disabled img {
    @apply grayscale;
  }

  .button:disabled span {
    @apply text-disabled;
  }

  .button-normal {
    @apply bevel active:bevel-inset p-0.5;
  }

  .button-light {
    @apply hover:bevel-light active:bevel-light-inset p-0.5;
  }

  /* Toggle button */
  .toggle-button[data-state='on'] {
    @apply bg-checkered bevel-inset;
  }

  /* Menus */
  .menu-content {
    @apply bg-surface bevel-window p-[0.1875rem] z-2000;
  }

  [data-state='inactive'] .menu-trigger {
    @apply text-disabled;

    box-shadow: none !important;
  }

  .menu-item {
    @apply select-none p-0.5 grid items-center gap-2 outline-none;

    grid-template-columns: minmax(1rem, auto) 1fr;
    min-width: 8rem;
  }

  .menu-item[data-highlighted],
  .menu-sub[data-state='open'] {
    @apply bg-selection text-selection;
  }

  .menu-item[data-disabled] > span,
  .menu-item[data-disabled] > svg {
    @apply text-disabled;
  }

  .menu-item[data-disabled] > img {
    @apply grayscale;
  }

  .menu-item.menu-sub {
    grid-template-columns: minmax(1rem, auto) 1fr minmax(0.75rem, auto);
  }
}
