@font-face {
  font-family: 'HP100LX';
  font-weight: 400;
  src: url('/font/Web437_HP_100LX_6x8.woff') format('woff');
}

@font-face {
  font-family: 'IBMModel3x';
  font-weight: 400;
  src: url('/font/Web437_IBM_Model3x_Alt1.woff') format('woff');
}

@font-face {
  font-family: 'MS Sans Serif';
  font-weight: 400;
  src: url('/font/MS_Sans_Serif.woff2') format('woff2');
}

@font-face {
  font-family: 'DOSJPN12';
  font-weight: 400;
  src: url('/font/Web437_DOS-V_re_JPN12.woff') format('woff');
}

@font-face {
  font-family: 'DOSJPN24';
  font-weight: 400;
  src: url('/font/Web437_DOS-V_re_JPN24.woff') format('woff');
}

@font-face {
  font-family: 'Paradise132';
  font-weight: 400;
  src: url('/font/Web437_Paradise132_7x16.woff') format('woff');
}
