/* Default UI font */
@font-face {
  font-family: 'PX Sans Nouveaux';
  font-weight: 400;
  src: url('/font/px_sans_nouveaux.woff2') format('woff2');
}

/* Text font (paragraph) */
@font-face {
  font-family: 'Paradise132';
  font-weight: 400;
  src: url('/font/Web437_Paradise132_7x16.woff') format('woff');
}

/* Heading font */
@font-face {
  font-family: 'ToshibaTxL1';
  font-weight: 400;
  src: url('/font/Web437_ToshibaTxL1_8x16.woff') format('woff');
}

/* Display font (large headings) */
@font-face {
  font-family: 'DOS/V re. JPN24';
  font-weight: 400;
  src: url('/font/Web437_DOS-V_re_JPN24.woff') format('woff');
}

/* Used for minesweeper numbers */
@font-face {
  font-family: 'Nix8810 M15';
  font-weight: 400;
  src: url('/font/Web437_Nix8810_M15.woff') format('woff');
}
