@import './tailwind.css';
@import './font.css';
@import './theme.css';
@import './components.css';
@import './article.css';
@import './utils.css';
@import './js-dos.css';

@layer base {
  @media (prefers-color-scheme: dark) {
    :root:not([class]) {
      @apply theme-dark;
    }
  }

  body {
    @apply text-base text-default selection:bg-selection selection:text-selection;
  }

  img,
  canvas {
    image-rendering: pixelated;
  }

  #desktop {
    user-select: none;
  }
  @media (pointer: fine) {
    #desktop {
      user-select: auto;
    }
  }
}
