@import './tailwind.css';
@import './theme.css';
@import './utils.css';
@import './font.css';

@layer base {
  body {
    @apply text-base;

    overflow: hidden;
    filter: grayscale(0.00001); /* Font antialiasing hack */
  }

  img {
    image-rendering: pixelated;
  }
}
