@layer base {
  :root,
  .theme-default {
    --color-desktop: 0 128 128;
    --color-background: 255 255 255;
    --color-highlight: 255 255 128;
  
    --color-surface: 192 192 192;
    --color-dark: 128 128 128;
    --color-darker: 0 0 0;
    --color-light: 222 222 222;
    --color-lighter: 255 255 255;
  
    --color-title: 0 0 0;
    --color-text: 0 0 0;
    --color-heading: var(--color-text);
    --color-heading-2: var(--color-heading);
    --color-heading-3: 0 0 128;
  
    --color-text-light: 128 128 128;
    --color-text-disabled: 128 128 128;
    --color-text-disabled-shadow: var(--color-lighter);
    --color-text-accent: 0 0 128;
  
    --color-text-link: 0 102 204;
    --color-text-visited: 85 26 139;

    --color-selection-bg: 0 0 128;
    --color-selection-text: 255 255 255;
  
    --color-border: 0 0 0;
  }

  .theme-dark {
    --color-desktop: 0 64 64;
    --color-background: 40 40 40;
    --color-highlight: 96 32 32;
  
    --color-surface: 64 64 64;
    --color-dark: 32 32 32;
    --color-darker: 0 0 0;
    --color-light: 104 104 104;
    --color-lighter: 144 144 144;
  
    --color-title: 222 222 222;
    --color-text: 222 222 222;
    --color-heading: var(--color-text);
    --color-heading-2: var(--color-heading);
    --color-heading-3: 143 188 239;
  
    --color-text-light: 128 128 128;
    --color-text-disabled: 32 32 32;
    --color-text-disabled-shadow: var(--color-lighter);
    --color-text-accent: 76 148 230;
  
    --color-text-link: 97 149 209;
    --color-text-visited: 161 77 203;

    --color-selection-bg: 255 255 128;
    --color-selection-text: 0 0 0;
  
    --color-border: 128 128 128;
  }
}