@layer utilities {
  /* Text utilities */
  .bold {
    letter-spacing: 1px;
    text-shadow: 1px 0 currentColor;
  }

  .text-disabled {
    color: theme('colors.disabled');
    @apply drop-shadow-disabled;
  }

  .text-inset {
    color: theme('colors.surface');
    text-shadow: -1px -1px theme('colors.surface-dark'),
      1px 1px theme('colors.surface-lighter');
  }

  /* Background utilities */
  .bg-checkered {
    background-size: 2px 2px;
    background-position: 0 0, 0 1px, 1px -1px, -1px 0;
    background-image: linear-gradient(
        45deg,
        theme('colors.surface-lighter') 25%,
        transparent 25%
      ),
      linear-gradient(
        -45deg,
        theme('colors.surface-lighter') 25%,
        transparent 25%
      ),
      linear-gradient(
        45deg,
        transparent 75%,
        theme('colors.surface-lighter') 75%
      ),
      linear-gradient(
        -45deg,
        transparent 75%,
        theme('colors.surface-lighter') 75%
      );
  }

  /* Bevels */
  .bevel {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-darker'),
      inset 1px 1px 0 0 theme('colors.surface-lighter'),
      inset -2px -2px 0 0 theme('colors.surface-dark'),
      inset 2px 2px 0 0 theme('colors.surface-light');
  }

  .bevel-inset {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-lighter'),
      inset 1px 1px 0 0 theme('colors.surface-darker'),
      inset -2px -2px 0 0 theme('colors.surface-light'),
      inset 2px 2px 0 0 theme('colors.surface-dark');
  }

  .bevel-semilight {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-darker'),
      inset 1px 1px 0 0 theme('colors.surface-lighter'),
      inset -2px -2px 0 0 theme('colors.surface-dark');
  }

  .bevel-light {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-dark'),
      inset 1px 1px 0 0 theme('colors.surface-lighter');
  }

  /* Alt version of regular bevel, used for windows */
  .bevel-window {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-darker'),
      inset 1px 1px 0 0 theme('colors.surface-light'),
      inset -2px -2px 0 0 theme('colors.surface-dark'),
      inset 2px 2px 0 0 theme('colors.surface-lighter');
  }

  /* Alt version of inset bevel, used for window content */
  .bevel-content {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-lighter'),
      inset 1px 1px 0 0 theme('colors.surface-dark'),
      inset -2px -2px 0 0 theme('colors.surface-light'),
      inset 2px 2px 0 0 theme('colors.surface-darker');
  }

  /* Special bevel for taskbar */
  .bevel-top {
    box-shadow: inset 0 1px 0 0 theme('colors.surface-lighter'),
      inset 0 2px 0 0 theme('colors.surface-light');
  }
}
