@layer utilities {
  .bold {
    letter-spacing: 1px;
    text-shadow: 1px 0 currentColor;
  }

  .text-disabled {
    color: theme('colors.disabled');
    @apply drop-shadow-disabled;
  }

  .text-inset {
    color: theme('colors.surface');
    text-shadow: -1px -1px theme('colors.surface-dark'),
      1px 1px theme('colors.surface-lighter');
  }

  .bevel {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-darker'),
      inset 1px 1px 0 0 theme('colors.surface-lighter'),
      inset -2px -2px 0 0 theme('colors.surface-dark'),
      inset 2px 2px 0 0 theme('colors.surface-light');
  }

  .bevel-inset {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-lighter'),
      inset 1px 1px 0 0 theme('colors.surface-darker'),
      inset -2px -2px 0 0 theme('colors.surface-light'),
      inset 2px 2px 0 0 theme('colors.surface-dark');
  }

  /* Alt version of regular bevel, used for windows */
  .bevel-window {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-darker'),
      inset 1px 1px 0 0 theme('colors.surface-light'),
      inset -2px -2px 0 0 theme('colors.surface-dark'),
      inset 2px 2px 0 0 theme('colors.surface-lighter');
  }

  /* Alt version of inset bevel, used for window content */
  .bevel-content {
    box-shadow: inset -1px -1px 0 0 theme('colors.surface-lighter'),
      inset 1px 1px 0 0 theme('colors.surface-dark'),
      inset -2px -2px 0 0 theme('colors.surface-light'),
      inset 2px 2px 0 0 theme('colors.surface-darker');
  }
}
