@utility link {
  /* Links */
  color: theme('textColor.link');
  text-decoration: underline 1px solid;

  &:visited {
    color: theme('textColor.visited');
  }

  &:focus-visible {
    outline: 1px dotted theme('colors.black');
  }
}

@utility button {
  /* Buttons */
  @apply bg-surface cursor-default select-none;

  &:focus-visible {
    outline: none;
  }

  &:focus-visible > * {
    outline: 1px dotted theme('textColor.default');
  }

  &:disabled {
    pointer-events: none;
  }

  &:disabled img {
    @apply grayscale;
  }

  &:disabled span {
    @apply text-disabled;
  }
}

@utility button-normal {
  @apply bevel active:bevel-inset p-0.5;
}

@utility button-light {
  @apply hover:bevel-light active:bevel-light-inset p-0.5;

  &.toggle-button[data-state='on'] {
    @apply bevel-light-inset;
  }
}

@utility toggle-button {
  /* Toggle button */
  @apply px-2;

  &[data-state='on'] {
    @apply bg-checkered bevel-inset;
  }

  &[data-state='on'].button-light {
    @apply bevel-light-inset;
  }
}

@utility input {
  /* Input */
  @apply py-1 px-2 bg-default bevel-content outline-none min-w-0;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;

  &:disabled {
    @apply bg-surface;

    color: theme('colors.disabled');
    text-shadow: 1px 1px theme('colors.disabled-shadow');
  }
}

@utility menu-bar {
  /* Menus */
  @apply flex flex-row;
}

@utility menu-content {
  @apply bg-surface bevel-window p-[0.1875rem] z-2000;

  &[data-side='top'] {
    animation: menu-slide-up 150ms steps(6) 0ms 1 normal both;
  }
  &[data-side='bottom'] {
    animation: menu-slide-down 150ms steps(6) 0ms 1 normal both;
  }
  &[data-side='left'] {
    animation: menu-slide-left 150ms steps(6) 0ms 1 normal both;
  }
  &[data-side='right'] {
    animation: menu-slide-right 150ms steps(6) 0ms 1 normal both;
  }
  &.menu-context[data-side] {
    animation: menu-slide-corner 150ms steps(6) 0ms 1 normal both;
  }
}

@utility menu-context {
  &.menu-content[data-side] {
    animation: menu-slide-corner 150ms steps(6) 0ms 1 normal both;
  }
}

@utility menu-trigger {
  [data-state='inactive'] & {
    @apply text-disabled hover:shadow-none;
  }

  [data-state='active'] & {
    @apply text-default drop-shadow-none hover:bevel-light;
  }
}

@utility menu-item {
  @apply select-none p-0.5 grid items-center gap-2 outline-none;

  grid-template-columns: minmax(1rem, auto) 1fr;
  min-width: 8rem;

  &[data-highlighted] {
    @apply bg-selection text-selection;
  }

  &[data-disabled] > span {
    @apply text-disabled;
  }

  &[data-disabled] > svg {
    @apply text-disabled;
  }

  &[data-disabled] > img {
    @apply grayscale;
  }

  &.menu-sub {
    grid-template-columns: minmax(1rem, auto) 1fr minmax(0.75rem, auto);
  }
}

@utility menu-sub {
  &[data-state='open'] {
    @apply bg-selection text-selection;
  }

  &.menu-item {
    grid-template-columns: minmax(1rem, auto) 1fr minmax(0.75rem, auto);
  }
}

@utility tabs {
  /* Tabs components */
  @apply flex flex-col;
}

@utility tabs-list {
  @apply flex flex-row px-0.5 pt-2 items-start;
}

@utility tab {
  @apply bg-surface px-1.5 min-w-10 m-0.5 mb-0 text-start;

  box-shadow:
    0 -1px theme('colors.surface-light'),
    -1px 0 theme('colors.surface-light'),
    -1px -1px theme('colors.surface-lighter'),
    0 -2px theme('colors.surface-lighter'),
    -2px 0 theme('colors.surface-lighter'),
    1px 0 theme('colors.surface-dark'),
    1px -1px theme('colors.surface-darker'),
    2px 0 theme('colors.surface-darker');

  &[data-state='active'] {
    @apply z-[1] m-0 -mb-px px-2 pb-[3px];

    box-shadow:
      0 1px theme('colors.surface'),
      0 -1px theme('colors.surface-light'),
      -1px 0 theme('colors.surface-light'),
      -1px -1px theme('colors.surface-lighter'),
      0 -2px theme('colors.surface-lighter'),
      -2px 0 theme('colors.surface-lighter'),
      1px 0 theme('colors.surface-dark'),
      1px -1px theme('colors.surface-darker'),
      2px 0 theme('colors.surface-darker'),
      0 0 0 2px theme('colors.surface');
  }

  &[data-state='active']:first-child {
    box-shadow:
      0 1px theme('colors.surface'),
      0 -1px theme('colors.surface-light'),
      -1px 0 theme('colors.surface-light'),
      -1px -1px theme('colors.surface-lighter'),
      0 -2px theme('colors.surface-lighter'),
      -2px 0 theme('colors.surface-lighter'),
      1px 0 theme('colors.surface-dark'),
      1px -1px theme('colors.surface-darker'),
      2px 0 theme('colors.surface-darker'),
      1px 0 0 1px theme('colors.surface');
  }
}

@utility tab-content {
  @apply bg-surface bevel p-0.5;
}

@utility article {
  /* Article components */
  &.mdx > :not(:first-child) {
    @apply max-w-3xl mx-auto;
  }
}

@utility mdx {
  /* Article components */
  &.article > :not(:first-child) {
    @apply max-w-3xl mx-auto;
  }
}

@utility demo {
  /* Layout classes */
  @apply flex flex-col items-center gap-4 my-6 mx-auto w-min;
  @apply sm:flex-row;

  /* Style classes */
  @apply bevel bg-surface p-2 font-sans text-base;
}

@utility demo-controls {
  @apply flex flex-col gap-2 min-w-48 w-full pb-2 sm:pb-0 sm:pr-2;
}

@utility demo-label {
  @apply flex flex-row items-center gap-1;
}

@layer components {

  @keyframes menu-slide-down {
    0% {
      transform: translateY(-100%);
      clip-path: inset(100% 0 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes menu-slide-up {
    0% {
      transform: translateY(100%);
      clip-path: inset(0 0 100% 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes menu-slide-left {
    0% {
      transform: translateX(100%);
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes menu-slide-right {
    0% {
      transform: translateX(-100%);
      clip-path: inset(0 0 0 100%);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes menu-slide-corner {
    0% {
      transform: translate(-100%, -100%);
      clip-path: inset(100% 0 0 100%);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
}
