@utility pixelate {
  position: relative;

  mask-image:
    linear-gradient(to right, transparent 49.9%, black 50%),
    linear-gradient(to bottom, transparent 49.9%, black 50%);
  mask-size: 3px 3px;
  mask-composite: subtract;

  & > * {
    filter: blur(1px);
  }
}

@utility pixelate-bg {
  @apply bg-checkered-dark;
  backdrop-filter: blur(12px);
}

@layer components {

  @keyframes overlay-fadein {
    from {
      backdrop-filter: blur(0px);
      opacity: 0;
    }
    to {
      backdrop-filter: blur(24px);
      opacity: 1;
    }
  }

  @keyframes overlay-fadeout {
    from {
      backdrop-filter: blur(24px);
      opacity: 1;
    }
    to {
      backdrop-filter: blur(0px);
      opacity: 0;
    }
  }
}