@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: 'PX Sans Nouveaux';
  --font-display: 'DOS/V re. JPN24';
  --font-display-text: Paradise132;
  --font-text: 'IBM Plex Sans';
  --font-heading: 'IBM Plex Sans';
  --font-title: 'DM Serif Display';
  --font-mono: 'IBM Plex Mono';
  --font-minesweeper: 'Nix8810 M15';
  --font-bsod: 'IBM VGA';

  --text-*: initial;
  --text-base: 0.5rem;
  --text-base--line-height: 1rem;
  --text-lg: 0.75rem;
  --text-lg--line-height: 1rem;
  --text-xl: 1rem;
  --text-xl--line-height: 1.25rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1;
  --text-3xl: 2rem;
  --text-3xl--line-height: 1;
  --text-4xl: 3rem;
  --text-4xl--line-height: 1;
  --text-content-xs: 0.75rem;
  --text-content-xs--line-height: 1rem;
  --text-content-sm: 0.875rem;
  --text-content-sm--line-height: 1.25rem;
  --text-content-base: 1rem;
  --text-content-base--line-height: 1.5rem;
  --text-content-lg: 1.125rem;
  --text-content-lg--line-height: 1.75rem;
  --text-content-xl: 1.25rem;
  --text-content-xl--line-height: 2rem;
  --text-content-2xl: 1.5rem;
  --text-content-2xl--line-height: 1;
  --text-content-3xl: 2rem;
  --text-content-3xl--line-height: 1;
  --text-content-4xl: 2.5rem;
  --text-content-4xl--line-height: 1;
  --text-content-5xl: 3rem;
  --text-content-5xl--line-height: 1;
  --text-content-6xl: 4rem;
  --text-content-6xl--line-height: 1;

  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentcolor;
  --color-inherit: inherit;
  --color-black: #000;
  --color-white: #fff;
  --color-desktop: rgb(var(--theme-desktop));
  --color-highlight: rgb(var(--theme-highlight));
  --color-codeblock: rgb(var(--theme-codeblock));
  --color-surface: rgb(var(--theme-surface));
  --color-surface-dark: rgb(var(--theme-dark));
  --color-surface-darker: rgb(var(--theme-darker));
  --color-surface-light: rgb(var(--theme-light));
  --color-surface-lighter: rgb(var(--theme-lighter));
  --color-light: rgb(var(--theme-text-light));
  --color-disabled: rgb(var(--theme-text-disabled));
  --color-disabled-shadow: rgb(var(--theme-text-disabled-shadow));

  --z-index-*: initial;
  --z-index-1000: 1000;
  --z-index-2000: 2000;
  --z-index-3000: 3000;
  --z-index-4000: 4000;
  --z-index-5000: 5000;
  --z-index-6000: 6000;

  --container-0: 0px;
  --container-1: 0.25rem;
  --container-2: 0.5rem;
  --container-3: 0.75rem;
  --container-4: 1rem;
  --container-5: 1.25rem;
  --container-6: 1.5rem;
  --container-7: 1.75rem;
  --container-8: 2rem;
  --container-9: 2.25rem;
  --container-10: 2.5rem;
  --container-11: 2.75rem;
  --container-12: 3rem;
  --container-14: 3.5rem;
  --container-16: 4rem;
  --container-20: 5rem;
  --container-24: 6rem;
  --container-28: 7rem;
  --container-32: 8rem;
  --container-36: 9rem;
  --container-40: 10rem;
  --container-44: 11rem;
  --container-48: 12rem;
  --container-52: 13rem;
  --container-56: 14rem;
  --container-60: 15rem;
  --container-64: 16rem;
  --container-72: 18rem;
  --container-80: 20rem;
  --container-96: 24rem;
  --container-px: 1px;
  --container-0_5: 0.125rem;
  --container-1_5: 0.375rem;
  --container-2_5: 0.625rem;
  --container-3_5: 0.875rem;

  --min-width-0: 0px;
  --min-width-1: 0.25rem;
  --min-width-2: 0.5rem;
  --min-width-3: 0.75rem;
  --min-width-4: 1rem;
  --min-width-5: 1.25rem;
  --min-width-6: 1.5rem;
  --min-width-7: 1.75rem;
  --min-width-8: 2rem;
  --min-width-9: 2.25rem;
  --min-width-10: 2.5rem;
  --min-width-11: 2.75rem;
  --min-width-12: 3rem;
  --min-width-14: 3.5rem;
  --min-width-16: 4rem;
  --min-width-20: 5rem;
  --min-width-24: 6rem;
  --min-width-28: 7rem;
  --min-width-32: 8rem;
  --min-width-36: 9rem;
  --min-width-40: 10rem;
  --min-width-44: 11rem;
  --min-width-48: 12rem;
  --min-width-52: 13rem;
  --min-width-56: 14rem;
  --min-width-60: 15rem;
  --min-width-64: 16rem;
  --min-width-72: 18rem;
  --min-width-80: 20rem;
  --min-width-96: 24rem;
  --min-width-px: 1px;
  --min-width-0_5: 0.125rem;
  --min-width-1_5: 0.375rem;
  --min-width-2_5: 0.625rem;
  --min-width-3_5: 0.875rem;

  --max-height-0: 0px;
  --max-height-1: 0.25rem;
  --max-height-2: 0.5rem;
  --max-height-3: 0.75rem;
  --max-height-4: 1rem;
  --max-height-5: 1.25rem;
  --max-height-6: 1.5rem;
  --max-height-7: 1.75rem;
  --max-height-8: 2rem;
  --max-height-9: 2.25rem;
  --max-height-10: 2.5rem;
  --max-height-11: 2.75rem;
  --max-height-12: 3rem;
  --max-height-14: 3.5rem;
  --max-height-16: 4rem;
  --max-height-20: 5rem;
  --max-height-24: 6rem;
  --max-height-28: 7rem;
  --max-height-32: 8rem;
  --max-height-36: 9rem;
  --max-height-40: 10rem;
  --max-height-44: 11rem;
  --max-height-48: 12rem;
  --max-height-52: 13rem;
  --max-height-56: 14rem;
  --max-height-60: 15rem;
  --max-height-64: 16rem;
  --max-height-72: 18rem;
  --max-height-80: 20rem;
  --max-height-96: 24rem;
  --max-height-px: 1px;
  --max-height-0_5: 0.125rem;
  --max-height-1_5: 0.375rem;
  --max-height-2_5: 0.625rem;
  --max-height-3_5: 0.875rem;

  --min-height-0: 0px;
  --min-height-1: 0.25rem;
  --min-height-2: 0.5rem;
  --min-height-3: 0.75rem;
  --min-height-4: 1rem;
  --min-height-5: 1.25rem;
  --min-height-6: 1.5rem;
  --min-height-7: 1.75rem;
  --min-height-8: 2rem;
  --min-height-9: 2.25rem;
  --min-height-10: 2.5rem;
  --min-height-11: 2.75rem;
  --min-height-12: 3rem;
  --min-height-14: 3.5rem;
  --min-height-16: 4rem;
  --min-height-20: 5rem;
  --min-height-24: 6rem;
  --min-height-28: 7rem;
  --min-height-32: 8rem;
  --min-height-36: 9rem;
  --min-height-40: 10rem;
  --min-height-44: 11rem;
  --min-height-48: 12rem;
  --min-height-52: 13rem;
  --min-height-56: 14rem;
  --min-height-60: 15rem;
  --min-height-64: 16rem;
  --min-height-72: 18rem;
  --min-height-80: 20rem;
  --min-height-96: 24rem;
  --min-height-px: 1px;
  --min-height-0_5: 0.125rem;
  --min-height-1_5: 0.375rem;
  --min-height-2_5: 0.625rem;
  --min-height-3_5: 0.875rem;

  --background-color-default: rgb(var(--theme-background));
  --background-color-selection: rgb(var(--theme-selection-bg));
  --background-color-text: rgb(var(--theme-text));

  --text-color-default: rgb(var(--theme-text));
  --text-color-title: rgb(var(--theme-title));
  --text-color-h1: rgb(var(--theme-heading));
  --text-color-h2: rgb(var(--theme-heading-2));
  --text-color-h3: rgb(var(--theme-heading-3));
  --text-color-accent: rgb(var(--theme-text-accent));
  --text-color-link: rgb(var(--theme-text-link));
  --text-color-visited: rgb(var(--theme-text-visited));
  --text-color-selection: rgb(var(--theme-selection-text));
  --text-color-background: rgb(var(--theme-background));

  --border-color-default: rgb(var(--theme-text));

  --drop-shadow-disabled: 1px 1px 0 rgb(var(--theme-text-disabled-shadow));

  --animate-overlay-fadein: 200ms ease-out 0ms 1 normal both running
    overlay-fadein;
  --animate-overlay-fadeout: 200ms ease-out 0ms 1 normal both running
    overlay-fadeout;
}
