@utility bold {
  /* Text utilities */
  letter-spacing: 1px;
  text-shadow: 1px 0 currentColor;
}

@utility text-disabled {
  color: theme('colors.disabled');
  @apply drop-shadow-disabled;
}

@utility text-inset {
  color: theme('colors.surface');
  text-shadow:
    -1px -1px theme('colors.surface-dark'),
    1px 1px theme('colors.surface-lighter');
}

@utility bg-checkered {
  /* Background utilities */
  background-size: 2px 2px;
  background-position:
    0 0,
    0 1px,
    1px -1px,
    -1px 0;
  background-image:
    linear-gradient(
      45deg,
      theme('colors.surface-lighter') 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      theme('colors.surface-lighter') 25%,
      transparent 25%
    ),
    linear-gradient(
      45deg,
      transparent 75%,
      theme('colors.surface-lighter') 75%
    ),
    linear-gradient(
      -45deg,
      transparent 75%,
      theme('colors.surface-lighter') 75%
    );
}

@utility bg-checkered-dark {
  background-size: 2px 2px;
  background-position:
    0 0,
    0 1px,
    1px -1px,
    -1px 0;
  background-image:
    linear-gradient(45deg, theme('colors.black') 25%, transparent 25%),
    linear-gradient(-45deg, theme('colors.black') 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, theme('colors.black') 75%),
    linear-gradient(-45deg, transparent 75%, theme('colors.black') 75%);
}

@utility bg-checkered-lg {
  background-size: 16px 16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;
  background-image:
    linear-gradient(
      45deg,
      theme('colors.surface-lighter') 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      theme('colors.surface-lighter') 25%,
      transparent 25%
    ),
    linear-gradient(
      45deg,
      transparent 75%,
      theme('colors.surface-lighter') 75%
    ),
    linear-gradient(
      -45deg,
      transparent 75%,
      theme('colors.surface-lighter') 75%
    );
}

@utility bevel {
  /* Bevels */
  box-shadow:
    inset -1px -1px 0 0 theme('colors.surface-darker'),
    inset 1px 1px 0 0 theme('colors.surface-lighter'),
    inset -2px -2px 0 0 theme('colors.surface-dark'),
    inset 2px 2px 0 0 theme('colors.surface-light');
}

@utility bevel-inset {
  box-shadow:
    inset -1px -1px 0 0 theme('colors.surface-lighter'),
    inset 1px 1px 0 0 theme('colors.surface-darker'),
    inset -2px -2px 0 0 theme('colors.surface-light'),
    inset 2px 2px 0 0 theme('colors.surface-dark');
}

@utility bevel-semilight {
  box-shadow:
    inset -1px -1px 0 0 theme('colors.surface-darker'),
    inset 1px 1px 0 0 theme('colors.surface-lighter'),
    inset -2px -2px 0 0 theme('colors.surface-dark');
}

@utility bevel-light {
  box-shadow:
    inset -1px -1px 0 0 theme('colors.surface-dark'),
    inset 1px 1px 0 0 theme('colors.surface-lighter');
}

@utility bevel-light-inset {
  box-shadow:
    inset -1px -1px 0 0 theme('colors.surface-lighter'),
    inset 1px 1px 0 0 theme('colors.surface-dark');
}

@utility bevel-window {
  /* Alt version of regular bevel, used for windows */
  box-shadow:
    inset -1px -1px 0 0 theme('colors.surface-darker'),
    inset 1px 1px 0 0 theme('colors.surface-light'),
    inset -2px -2px 0 0 theme('colors.surface-dark'),
    inset 2px 2px 0 0 theme('colors.surface-lighter');
}

@utility bevel-content {
  /* Alt version of inset bevel, used for window content */
  box-shadow:
    inset -1px -1px 0 0 theme('colors.surface-lighter'),
    inset 1px 1px 0 0 theme('colors.surface-dark'),
    inset -2px -2px 0 0 theme('colors.surface-light'),
    inset 2px 2px 0 0 theme('colors.surface-darker');
}

@utility bevel-content-outside {
  /* Content bevel rendered outside element, used for scroll area */
  box-shadow:
    -0.5px -0.5px 0 0.5px theme('colors.surface-darker'),
    0 0 0 1px theme('colors.surface-light'),
    -0.5px -0.5px 0 1.5px theme('colors.surface-dark'),
    0 0 0 2px theme('colors.surface-lighter');
}

@utility bevel-top {
  /* Special bevel for taskbar */
  box-shadow:
    inset 0 1px 0 0 theme('colors.surface-lighter'),
    inset 0 2px 0 0 theme('colors.surface-light');
}

@utility tree-branch {
  /* Tree item decorations */
  &:last-child > .tree-branch-decoration-bottom {
    display: none;
  }
}

@utility tree-branch-decoration-bottom {
  /* Tree item decorations */
  .tree-branch:last-child > & {
    display: none;
  }
}

@utility scroll-center {
  @apply flex items-center justify-center;

  min-width: var(--scroll-viewport-width);
  min-height: var(--scroll-viewport-height);
}
